commands:
  00_create_fonts_directory:
    command: mkdir -p /fonts/
  01_download_font:
    command: wget -P /fonts/ https://source-of-font.com/LibreBaskerville-Regular.ttf
  02_move_font:
    command: sudo mv /fonts/LibreBaskerville-Regular.ttf /usr/share/fonts/default/TrueType/
  03_update_font_cache:
    command: sudo fc-cache -fv
