container_commands:
  01_download_librebaskerville_font:
    command: wget -P /tmp/ https://github.com/google/fonts/raw/main/ofl/librebaskerville/LibreBaskerville-Regular.ttf
  02_create_fontdir:
    command: sudo mkdir -p /usr/share/fonts/librebaskerville
  03_mv_font:
    command: sudo mv /tmp/LibreBaskerville-Regular.ttf /usr/share/fonts/librebaskerville
  04_update_font_cache:
    command: sudo fc-cache -r
